{% extends 'user_backend/index.html.twig' %}

{% block content %}
<div class="payment-wrapper">
	<div class="payment-info container-fluid">
		<div class="payment-title col-xs-12">
			<h2>Einstellungen</h2>
		</div>

		{{ form_start(formEdit) }}

			<div class="pricing-table-container row">
				<div class="col-xs-12">
					<h3>1. Wählen Sie Ihr Paket</h3>
					<p>
						Wählen Sie bitte zunächst das Paket aus, dass am Besten zu Ihnen und Ihr Unternehmen passt. 
						Sollte Ihnen kein Paket zusagen, kontakten Sie uns gerne per E-Mail und wir erarbeiten gemeinsam 
						mit Ihnen ein individuelles Angebot. Natürlich können Sie im nachhinein Ihr Paket wechseln.
						Bitte beachten Sie dabei, dass das Wechseln des Paketes nur einmal im Monat möglich ist. 
					</p>
				</div>

				{% for key,val in formEdit.package.vars.choices %}

					<div class="pricing-table col-md-6 col-xs-12">
						<div class="price">
							{% if val.value == "base" %} 
								99€ 
							{% endif %}
							{% if val.value == "premium" %} 
								199€ 
							{% endif %}
							<p>monatlich inkl. Mwst.</p>
						</div>
						<div class="arrow-down"></div>
						<div class="package-name">{{ val.label }}</div>
						<div class="advantages">
							<p>
								{% if val.value == "base" %} 
								<strong>inkl. 5 Mitarbeiter</strong>
								{% endif %}
								{% if val.value == "premium" %} 
								<strong>inkl. 20 Mitarbeiter</strong>
								{% endif %}
							</p>
							<p>Lehrvideos und Quiz</p>
							<p>Anonymisierte Quizergebnisse</p>
							<p>Zugänge managen</p>
						</div>
						<div class="call-to-action">
							<div id="form_package">
								<label for="form_package_{{ key }}" class="required">
									<div class="artificial-checkbox {% if val.value == formEdit.package.vars.value %}selected{% endif %}"></div>
									{{ val.label }} Paket auswählen
								</label>
							</div>
						</div>
					</div>
				{% endfor %}

				<div class="form-error">
					{{ form_errors(formEdit.package) }}
				</div>

			</div>

			<div class="pricing-table-container row">
				<div class="col-xs-12">
					<h3>2. Wählen Sie eine Bezahlmethode</h3>
					<p>
						Sie haben die Möglichkeit Ihr Paket bequem per Rechnung oder PayPal zu bezahlen.
					</p>
				</div>
				{% for key,val in formEdit.paymentType.vars.choices %}
					<div class="payment-type-table col-md-6 col-xs-12">
						<div class="call-to-action">
							<div id="form_paymentType">
								<label for="form_paymentType_{{ key }}" class="required">
									<div class="artificial-checkbox {% if val.value == formEdit.paymentType.vars.value %}selected{% endif %}"></div>
									{{ val.label }}
								</label>
							</div>
						</div>
					</div>
				{% endfor %}

				<div class="form-error">
					{{ form_errors(formEdit.paymentType) }}
				</div>
			</div>

			<div class="hidden-form">
				{{ form_row(formEdit.package) }}
				{{ form_row(formEdit.paymentType) }}
			</div>

			<div class="pricing-table-container row">
				<div class="terms col-sm-6 col-xs-12">
					<p>
						Bitte beachten Sie unsere <a href="{{ path('agb') }}">AGB</a> sowie unsere <a href="{{ path('right-of-return') }}">Widerrufsbelehrung</a>. <br>
						Ich erkläre mich mit den AGB von Avinga UG einverstanden.
					</p>
					{{ form_row(formEdit.xterms, { 'attr': { 'class': 'terms-field' } } ) }}
				</div>
				<div class="col-sm-6 col-xs-12">
					<input type="submit" class="btn btn-primary col-xs-12" value="Jetzt bestellen" />
				</div>

				{{ form_widget(formEdit) }}
			</div>

		{{ form_end(formEdit) }}

		{% if formDelete != false %}
	    	{{ form_start(formDelete) }}
	    	<div class="row">
	    		<div class="pricing-table-container col-xs-12">
	    			<div class="col-xs-12">
						<input type="submit" class="btn btn-warning col-xs-12" value="Jetzt abbestellen" />
					</div>
				</div>
			</div>
			{{ form_widget(formDelete) }}
		{% endif %}

	</div>
</div>

<script type="text/javascript">
jQuery.noConflict();
(function( $ ) {
	$("#form_package input").change(function() {
		$("#form_package label .artificial-checkbox").removeClass("selected");
		$("#form_package label[for='"+$(this).attr("id")+"'] .artificial-checkbox").addClass("selected");
	});
	$("#form_paymentType input").change(function() {
		$("#form_paymentType label .artificial-checkbox").removeClass("selected");
		$("#form_paymentType label[for='"+$(this).attr("id")+"'] .artificial-checkbox").addClass("selected");
	});

	var checkbox = $(".terms-field");
	$(".terms div").prepend(checkbox);

	$(".payment-wrapper form").attr("novalidate", "novalidate");
})(jQuery);
</script>

{% endblock %}