{% extends 'base.html.twig' %}

{% block body %}
<div class="quiz-wrapper col-lg-12">
	<div class="quiz-title">
		<h1>{{ quizInfo.name }}</h1>
	</div>
	<div class="quiz-content">
		{% for question in quizData %}
			<div class="question-wrapper question{{ question.id }}" id="{{ question.id }}">
				<div class="quiz-question">{{ question.questionText }}</div>
				{% for answer in question.answers %}
				<div class="quiz-anwers radio">
					<label><input type="radio" name="optradio-{{ question.id }}" class="answer-opt" value="{{ answer.id }}">{{ answer.answerText }}</label>
				</div>
				{% endfor %}
				<div class="btn btn-info next" role="button">Nächste Frage</div>
				<div class="btn btn-info show-results" role="button">Ergebnisse anzeigen</div>
			</div>
		{% endfor %}
	</div>
</div>

<script src="{{ asset('js/quiz.js') }}"></script>

{% endblock %}