{% extends 'base.html.twig' %}

{% block body %}
<div class="quiz-wrapper col-lg-12">
	<div class="quiz-title">
		<h1>{{ quizInfo.name }}</h1>
	</div>
	<div class="quiz-content">
		{% for question in quizData %}
			<div class="question-wrapper question{{ question.id }}" id="{{ question.id }}">
				<div class="quiz-question">{{ question.questionText }}</div>
				<div class="quiz-answers">
					{% for answer in question.answers %}
					<div class="quiz-answer radio">
						<input type="radio" name="optradio-{{ question.id }}" class="answer-opt" id="answer-{{ answer.id }}" value="{{ answer.id }}">
						<label for="answer-{{ answer.id }}"><span>{{ answer.answerText }}</span></label>
					</div>
					{% endfor %}
				</div>
				<a href="{{ app.request.headers.get('referer') }}" class="back-link">
					<div class="btn btn-info back-btn" role="button">Zurück</div>
				</a>
				<div class="btn btn-info next-question" role="button">Nächste Frage</div>
				<a href="{{ path('quiz-results', {'id': quizInfo.id} )  }}" class="show-results-link">
					<div class="btn btn-info show-results" role="button">Ergebnisse anzeigen</div>
				</a>
			</div>
		{% endfor %}
	</div>
</div>

<script src="{{ asset('js/quiz.js') }}"></script>

{% endblock %}