{% extends 'base.html.twig' %}

{% block body %}
    <div id="home">
        <div id="container">

        	<div class="header-wrapper col-xs-12">

        		<div class="col-xs-12 motivation-text-container">
	            	<div class="motivation-text">
		            	<h2>
		            		Vorsorge ist die beste Versicherung vor einem Schadensfall in Ihrem Unternehmen
		            	</h2>
	            	</div>
	            </div>

	            <div class="col-xs-12 teaser-text-wrapper">

	        		<div class="col-md-4 teaser-text-container">
	        			<div class="teaser-text">
	        				<p class="text-item lg">60%</p>
	        				<p class="text-item sm">aller Sicherheitsvorfälle in</p>
	        				<p class="text-item sm">der IT gehen von</p>
	        				<p class="text-item md">Mitarbeitern</p>
	        				<p class="text-item sm">aus.</p>
	        			</div>
	        		</div>

	        		<div class="col-md-8 cloud-text-container">
	        			<div class="cloud cloud-text-1">
	        				<p class="text-item sm">Zeit & Standort unabhängig</p>
	        			</div>
	        			<div class="cloud cloud-text-2">
	        				<p class="text-item sm">Sensibilisierung Ihrer Mitarbeiter</p>
	        			</div>
	        			<div class="cloud cloud-text-3">
	        				<p class="text-item sm">verständliche Videokurse</p>
	        			</div>
	        			<div class="cloud cloud-text-4">
	        				<p class="text-item sm">Cloudlearning Konzept</p>
	        			</div>
	        		</div>

        		</div>

        		<div class="col-xs-12 more-container">
        			<div class="more-text">
        				<a class="text-item">Mehr erfahren</a>
        				<div class="arrow-down"></div>
        			</div>
        		</div>

        	</div>

        	<div class="description-wrapper col-xs-12">
        		<div class="description-text col-md-5">
        			<p>Wir von AVINGA wollen nicht weniger als die Welt sicherer
        				machen. Wir bieten Services für Unternehmen an, die dort gegenstuern
        				wo Angreifer ansetzen und Firewalls versagen.</p>
    				<p>Vorsorge ist die beste Versicherung vor einem Schadensfall in Ihrem Unternehmen.
    					Ein Großteil der Angriffe kann durch Wissen und das richtige Handeln unterbunden werden.</p>
					<p>Jährlich entstehen Schänden i.H.v. xxx € alleine durch Phishing, Viren und Angriffen auf 
						Unternehmensnetzwerke.</p>
					<p>AVINGA ist mehr als ein Vorsorgekonzept, wir bieten intelligente CloudLearning-Kurse die
						Ihr Unternehmen zu einem sichereren Ort machen und Ihre Mitarbeiter dauerhaft wappnen.</p>
					<p>AVINGA - the power of precaution</p>

					<div class="register-form col-xs-12">
						<div class="register-input-container col-md-8 col-xs-12">
							<input type="text" class="form-control register-input" placeholder="Ihre E-Mail Adresse" />
						</div>
						<div class="register-input-container col-md-4 col-xs-12">
							<button type="submit" class="btn btn-default">Gratiskurs testen</button>
						</div>
					</div>
        		</div>
        		<div class="description-image col-md-7">
        			<img src="{{ asset('images/layout/imac.png') }}" alt="Screenshot der AVINGA Anwendung"/>
        		</div>
        	</div>

        	<div class="how-it-works-wrapper col-xs-12">
        		<div class="headline col-xs-12">Ihr Weg zu einem sicheren Unternehmen</div>
        		<div class="workflow col-xs-12">
        			<div class="workflow-item workflow-item-1"><img src="{{ asset('images/layout/checkbox.png') }}" alt="Check"/><span>Kostenlos registrieren</span></div>
        			<div class="workflow-item workflow-item-2"><img src="{{ asset('images/layout/checkbox.png') }}" alt="Check"/><span>Tarif wählen</span></div>
        			<div class="workflow-item workflow-item-3"><img src="{{ asset('images/layout/checkbox.png') }}" alt="Check"/><span>Mitarbeiter hinzufügen</span></div>
        			<div class="workflow-item workflow-item-4"><img src="{{ asset('images/layout/checkbox.png') }}" alt="Check"/><span>Kurse absolvieren</span></div>
        			<div class="workflow-item workflow-item-5"><img src="{{ asset('images/layout/checkbox.png') }}" alt="Check"/><span>Leistungen einsehen & bewerten</span></div>
        		</div>
        	</div>

        	<div class="why-avinga col-xs-12">
        		<div class="headline col-xs-12">Was spricht für AVINGA?</div>
        		<div class="why-avinga-text-wrapper col-xs-12">
        			<p>Bekämpfen Sie Gefahren bevor sie entstehen und genießen Sie einen exklusiven Schutz vor Angreifern</p>
        			<p>Monatliche Sicherheitsschulungen in weit gefächertem Bereichen helfen Ihnen und Ihren Mitarbeiten in
        				entpsannter Atmosphäre zu arbeiten und dabei die Sicherheit nicht aus den Augen zu verlieren.</p>
    				<p>Eine langfristige aktuelle Sensibilisierung ist die sinnvolste Methode um immer mit aktuellen Themen in Berührung zu bleiben 
    					und Ihre Mitarbeite ausreichend zu schulen.</p>
					<div class="register-form col-xs-12">
						<div class="register-input-container input">
							<input type="text" class="form-control register-input" placeholder="Ihre E-Mail Adresse" />
						</div>
						<div class="register-input-container button">
							<button type="submit" class="btn btn-default">Gratiskurs testen</button>
						</div>
					</div>
        		</div>
        	</div>

        	<div class="video-wrapper col-xs-12">
        		<iframe src=""></iframe>
        	</div>

        	<div class="pricing-wrapper col-xs-12">
        		<div class="pricing-text col-md-6">
        			<h2>Unsere Tarife</h2>
        			<p>Sie können zwischen den Tarifen Standard und Advanced wählen.
        				Der Tarif ist abhängig von der Mitarbeiteranzahl in Ihrem Unternehmen.</p>
    				<p>Der Standard Tarif beinhaltet 5 Mitarbeiteraccounts und ist somit für kleine Unternehmen 
        				bestens geeignet.</p>
    				<p>Wählen Sie den Advanced Tarif bei mehr als 5 und bis zu 20 Mitarbeitern in Ihrem Unternehmen.
    					Sollten sie mehr als 20 Accounts benötigen, werden wir Ihnen einen speziell auf Sie zugeschnittenen Tarif
    					anbieten. </p>
					<p>Benutzen Sie in diesem Fall unser Kontaktformular um Ihr individuelles Angebot von uns zu erhalten.</p>
        		</div>
        		<div class="pricing-table-container col-md-6 col-xs-12">
    				<div class="pricing-table col-xs-6">
    					<div class="price">99€ <p>monatlich inkl. Mwst.</p></div>
    					<div class="arrow-down"></div>
    					<div class="package-name">Standard</div>
    					<div class="advantages">
							<p><strong>inkl. 5 Mitarbeiter</strong></p>
							<p>Lehrvideos und Quiz</p>
							<p>Anonymisierte Quizergebnisse</p>
							<p>Zugänge managen</p>
    					</div>
    					<div class="call-to-action"><a href="" alt="Jetzt registrieren!">Jetzt loslegen</a></div>
    				</div>
    				<div class="pricing-table col-xs-6">
    					<div class="price">199€ <p>monatlich inkl. Mwst.</p></div>
    					<div class="arrow-down"></div>
    					<div class="package-name">Advanced</div>
    					<div class="advantages">
							<p><strong>inkl. 20 Mitarbeiter</strong></p>
							<p>Lehrvideos und Quiz</p>
							<p>Anonymisierte Quizergebnisse</p>
							<p>Zugänge managen</p>
    					</div>
    					<div class="call-to-action"><a href="" alt="Jetzt registrieren!">Jetzt loslegen</a></div>
    				</div>
        		</div>
        	</div>

        	<div class="contact-wrapper col-xs-12">
    			<div class="contact-text col-md-6">
        			<h2>Haben Sie Fragen?</h2>
        			<p>Zögern Sie nicht uns zu kontaktieren!</p>
        			<p>Wir versuchen möglichst schnell auf jede Frage ganz individuell einzugehen und Ihnen 
        				schnellstmöglich Antwort auf alle Ihre Fragen zu geben.</p>
    				<p>Natürlich können Sie auch gerne auf anderen Wegen mit uns in Kontakt treten.
    					Wir sind auch zu finden bei:</p>
					<div class="social-media">
						<a href="" class="media-icon facebook-icon"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
						<a href="" class="media-icon twitter-icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="" class="media-icon instagram-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="" class="media-icon gplus-icon"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
					</div>
        		</div>
        		<div class="contact-form-container col-md-6 col-xs-12">
    				<div class="contact-form col-xs-6">
						<form>
						<div class="form-group">
							<input type="email" class="form-control" id="contactName" placeholder="Name">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="contactCompany" placeholder="Unternehmen">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="contactEmail" placeholder="E-Mail">
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="7" placeholder="Nachricht"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default contact-submit">Jetzt Absenden</button>
						</div>
						</form>
    				</div>
        		</div>
        	</div>

        </div>
    </div>



<script>
</script>
{% endblock %}